.searchBox {
  display: flex;
  align-items: center;
  background: #d2dfed;
  border-radius: 20px;
  padding: 6px 12px;
  width: 250px;
  margin: 10px auto;
}

.searchBox input {
  border: none;
  outline: none;
  flex: 1;
  padding: 6px;
  font-size: 14px;
  background: #a8c4e2;
  border-radius: 15px;
}

.searchBox button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}