.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content:center;
  background:antiquewhite;
  padding: 40px;
}

.box {
  background: #efb8b8;
  padding: 40px;
  border-radius:40px;
  text-align: center;
  width:50%;
  box-shadow:40px rgb(162, 11, 170);
}

.icons {
  width: 80px;
  height: 80px;
  background: #08f033;
  color: white;
  font-size:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.maintitle {
  font-size: 32px;
  font-weight: 700;
  color: #1e293b;
}

.subtitle {
  color: #1162d3;
  margin-top: 10px;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  gap: 20px;
}

.logo {
  flex: 1;
  background: #f1f5f9;
  padding: 15px;
  border-radius: 12px;
  background-color: #b0cef1;
  font-size: 14px;
}

.logo span {
  font-size: 22px;
  display: block;
  margin-bottom: 5px;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.firstBtn {
  background: linear-gradient(to right, #6366f1, #7c3aed);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
}

.secondBtn {
  border: 1px solid #6366f1;
  color: #6366f1;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
}

.primaryBtn:hover {
  opacity: 0.9;
  color:#6366f1
}

.secondaryBtn:hover {
  background: #7d7fe9;
  color: white;
}