.main_container {
  min-height: 100vh;
  background: linear-gradient(to right, #deb4f2, #eecbf6);
  padding: 20px;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.heading {
  margin: 20px;
  text-align: center;
}
.users,
.products,
.revenue {
  border: 2px solid black;
  width: 20%;
  height: 80px;
  text-align: center;
}

.OtherPages {
  margin: 10%;
  display: flex;
  justify-content: space-around;
}




