.container {
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  padding: 25px;
  background: #f7d6f7;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.container input,
.container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.container input:focus,
.container textarea:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.container button {
  padding: 16px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #6c63ff, #4facfe);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.container button:active {
  transform: scale(0.98);
}
body{
  background:linear-gradient(135deg, #6c63ff, #4facfe);
}
.formgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:15px;
}
.genderBox{
  display: flex;
  align-items: center;
  gap: 15px;
}
.genderBox label{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #333;
}
.formGrid input,
.formGrid textarea{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}
.formGrid textarea{
  grid-column: span 1;
}
.inputBox{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.inputBox label{
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
.page {
  display: flex;
  min-height: 100vh;;
  background: linear-gradient(135deg, #FBEEEE, #F6DCDD); 
  justify-content: center;
  align-items: center;
  gap: 20px;
}