/* Wrapper */
.slider_wrapper {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

/* Track */
.slider_track {
  
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Each Slide */
.slider_item {
  min-width: 100%;
  text-align: center;
}

.slider_item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Caption */
.slider_caption {
  background: #000;
  color: #fff;
  padding: 6px;
}

/* Buttons */
.img_slider_btn {
  position: absolute;
  top: 42%;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.img_slider_btn_prev {
  left: 10px;
}

.img_slider_btn_next {
  right: 10px;
}

/* Dots */
.slider_dots {
  position: absolute;

  width: 100%;
  text-align: center;
}

.slider_dot {
  border: 2px solid pink;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 10px;
  background:var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider_dot_active {
  background: white;
  transform: scale(2);
}




/* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 768px) {

  /* Wrapper */
  .slider_wrapper {
    height: 220px;
    border-radius: 8px;
    margin-top: 10px;
  }

  /* Image */
  .slider_item img {
    height: 200px;
    object-fit: cover;
  }

  /* Buttons (smaller + better positioning) */
  .img_slider_btn {
    display:none;
    padding: 6px;
    font-size: 14px;
    top: 40%;
    background: rgba(0,0,0,0.4);
  }

  .img_slider_btn_prev {
    left: 5px;
  }

  .img_slider_btn_next {
    right: 5px;
  }

  /* Dots */
 

  .slider_dot {
    height: 8px;
    width: 8px;
    margin:5px;
  }

  .slider_dot_active {
    transform: scale(1.5);
  }
}