/* Essential resets only */
:root {
  --primary-color: #f698c7;
  --secondary-color: #f7f4f0;
  --accent-color: #d4af37;
  --text-color: #333;
  --background-color: #e9e6e2;
  --input-background: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML layout styles */
html {
  height: 100%;
  -webkit-antialiased: true;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

/* Body layout styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Main content wrapper */
.main-content {
  flex: 1;
  background-color: #ffffff;
  background-image: radial-gradient(
    60% 120% at 50% 50%,
    hsla(0, 0%, 100%, 0) 0%,
    rgba(252, 205, 238, 0.5) 100%
  );
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #3731d4;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}


@keyframes shimmer {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(300%);
  }
}

.animate-shimmer {
  animation: shimmer 1.8s infinite;
}
