/* Home page styles */
.imageContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features {
  background-color: #f1a8ee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
}
.item {
  text-align: center;
  padding: 5px;
  width: 15%;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

.recipient {
  display: flex;
  justify-content: space-around;
  /* margin: 20px; */
}

.recipientImage {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.recipientTextHim {
  left: 28%;
  position: absolute;
  margin-top: 3%;
  font-size: 25px;
  font-weight: bold;
  z-index: 10;
  background-color: rgba(242, 15, 200, 0.459);
  padding: 10px;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  color: black;
}
.recipientTextHer {
  right: 12%;
  position: absolute;
  margin-top: 3%;
  font-size: 25px;
  font-weight: bold;
  color: black;
  z-index: 10;
  background-color: rgba(242, 15, 200, 0.459);
  padding: 10px;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  color: black;
}
.shopByRecipient {
  text-align: center;
  margin: 20px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.TextShopHim {
  left: 28%;
  position: absolute;
  margin-top: 7%;
  background-color: rgba(242, 15, 200, 0.459);
  padding: 15px;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  color: black;
}
.TextShopHer {
  position: absolute;
  right: 12%;
  margin-top: 7%;
  background-color: rgba(242, 15, 200, 0.459);
  padding: 15px;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  color: black;
}

/* Styles for reach Boxes */

.shopByReach {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.reachBox {
  text-decoration: none;
  width: 30%;
  height: 25vh;
  background-color: #edd3e9;
  text-align: center;

  font-size: 50px;
  font-weight: 900;
  color: white;

  border: 2px solid #0070f3;
  /* background: transparent; */
  color: #0070f3;
  padding: 25px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.reachBox:hover {
  background: #0070f3;
  color: white;
}

.poster {
  margin: 50px;
  margin-bottom: 50px;
}

.posterImage {
  width: 100%;
  height: auto;

  border-radius: 50px;
  margin-top: 30px;
}

.card_Container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.card_Image {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #E6D6FF; */
  background: linear-gradient(135deg, #f3e7ff, #ffd6e8);
}

.Images {
  padding: 10px;
  width: 200px;
  height: auto;
  border-radius: 10px 50px;
}

.image_caption {
  margin-top: 10px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* styles for Mobile */
@media (max-width: 768px) {
  .features {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }

  .recipient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  .recipientImage {
    width: 90%;
    height: auto;
    margin: 5%;
  }

  .item {
    font-size: 12px;
    width: 100%;
  }
  .recipientTextHim {
    left: 60%;
    position: absolute;
    margin-top: 8%;
    font-size: 25px;
    font-weight: bold;
    z-index: 10;
    background-color: rgba(242, 15, 200, 0.459);
    padding: 10px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    color: black;
  }
  .recipientTextHer {
    left: 60%;
    position: absolute;
    margin-top: 8%;
    font-size: 25px;
    font-weight: bold;
    color: black;
    z-index: 10;
    background-color: rgba(242, 15, 200, 0.459);
    padding: 10px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    color: black;
  }

  .TextShopHim {
    left: 60%;
    position: absolute;
    margin-top: 20%;
    background-color: rgba(242, 15, 200, 0.459);
    padding: 15px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    color: black;
  }
  .TextShopHer {
    position: absolute;
    left: 60%;
    margin-top: 20%;
    background-color: rgba(242, 15, 200, 0.459);
    padding: 15px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    color: black;

  }
  .reachBox {
    width: 40%;
    height: 10vh;
    font-size: 30px;
    padding: 5px 5px;
  }
  .shopByReach {
     justify-content: space-around;
     gap: 0px;
  }
  .poster {
  margin: 5px;
}

.posterImage {
  width: 100%;
  height: auto;

  border-radius: 10px;
  margin-top: 10px;
}

}.card_Container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card_Image {
  
  min-width: 100px;   /* important for horizontal scroll */
  flex-shrink: 0;

  
}