
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
    margin: auto;
    margin-top: 2%;
    width: 100%;
}
.frame {
    width: 100%;
 overflow: hidden;
 box-shadow:5px 5px 5px 5px rgb(226, 83, 214);
}


.slider{
  width: 100%;
display: flex;
transition:all 1s ease;
}

.image{
  height: 300px;
  object-fit: cover;
}
