


.container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: pink;
    margin: auto;
    margin-top: 2%;
  
}
.frame {
    /* width: 90%; */
 overflow: hidden;
 box-shadow:5px 5px 5px 5px rgb(226, 83, 214);
}


.slider{
  width: 100%;
display: flex;
transition:all 1s ease;
}

.image{
  width: 100%;
  height: auto;
  object-fit: cover;
}
