.sliderContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.slider {
  width: 95%;
  overflow: hidden;
}

.sliderTrack {
  gap: 2%;
  
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide { 
  padding: 5px;
 
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 30%;
}
.card {
  overflow: hidden;
 
}

.content {
  padding: 10px;
  text-align: center;
}

.content h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.content p {
  font-weight: bold;
  color: #333;
}
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}



/* Buttons */
.slider_btn {
  position: absolute;
  top: 74%;
  transform: translateY(-50%);
  background: var(--primary-color);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: large;
  z-index:2;
}

.slider_btn_prev {
  left: 10px;
}

.slider_btn_next {
  right: 10px;
}