.wrapper{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(120deg,#7a0f3c,#c34a7e);
}


input{ 
    color: black;
}


/* CARD */
.card{
width:900px;
height:500px;
background:white;
border-radius:25px;
display:flex;
overflow:hidden;
box-shadow:0 40px 90px rgba(0,0,0,0.4);
}

/* LEFT PANEL */
.left{
width:40%;
background:linear-gradient(180deg,#c55a8a,#e7a7c2);
position:relative;
overflow:hidden;
}

/* TRIANGLES */
.triangle1{
position:absolute;
width:300px;
height:300px;
background:#8d1f4c;
transform:rotate(45deg);
top:-120px;
left:-120px;
}

.triangle2{
position:absolute;
width:260px;
height:260px;
background:#f0c2d5;
transform:rotate(45deg);
top:-40px;
left:-40px;
opacity:.8;
}

.triangle3{
position:absolute;
width:220px;
height:220px;
background:#d46b97;
transform:rotate(45deg);
top:40px;
left:-80px;
}

/* TEXT */
.leftText{
position:absolute;
bottom:120px;
left:80px;
color:white;
}

.leftText h2{
margin:0;
font-size:30px;
}

.leftText p{
margin-top:8px;
opacity:.8;
}

/* RIGHT */
.right{
width:60%;
background:#f3f3f3;
padding:60px;
text-align:center;
}

.avatar{
width:70px;
height:70px;
background:#c0437a;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:28px;
margin:auto;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.right h3{
margin-top:15px;
letter-spacing:2px;
}

/* INPUT */
.inputGroup{
display:flex;
align-items:center;
margin-top:30px;
border-bottom:1px solid #aaa;
padding-bottom:8px;
}

.inputGroup span{
margin-right:10px;
}

.inputGroup input{
border:none;
outline:none;
background:transparent;
width:100%;
}

/* FORGOT */
.forgot{
margin-top:15px;
color:#c0437a;
font-size:14px;
text-align:left;
}

/* BUTTON */
.btn{
margin-top:25px;
background:#c0437a;
color:white;
border:none;
padding:12px 40px;
border-radius:25px;
cursor:pointer;
}

/* SOCIAL */
.social{
margin-top:35px;
}

.social span{
margin-left:10px;
color:#c0437a;
cursor:pointer;
}