.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button {
  padding: 10px;
  background-color: #F0C6C9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn {
  margin-top: 15px;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
}